DIEBIAN_DEPLOY_ENV=staging
DIEBIAN_SITE_DOMAIN=https://staging.diebiandesign.com
DIEBIAN_API_BASE=https://staging.diebiandesign.com
DIEBIAN_CLOUDBASE_ENV_ID=cloudbase-d8ghr94wg306011e0
DIEBIAN_FILE_DOMAIN=https://static.diebiandesign.com
DIEBIAN_LOGIN_CALLBACK_URL=https://staging.diebiandesign.com/#/pages/enterprise-web/miniapp-login
DIEBIAN_LOG_ENV=staging
DIEBIAN_ENABLE_MOCK=false
DIEBIAN_ENABLE_DEV_API=false
DIEBIAN_FEATURE_FLAGS=website,workspace
DIEBIAN_TCB_TARGET_PATH=/
